<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma Joyeria - Formulario de Registro de Usuario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">
    <style>
        /* Estilos adicionales personalizados pueden ir aquí */
        body {
            padding: 20px;
            background-color: #f8f9fa;
        }
        .card {
            margin: auto;
            max-width: 600px;
            padding: 10px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
           
        }
        .btn {
            padding: 10px 20px;
        }
        .continuar {
            background-color: #007bff;
            color: #fff;
            border: none;
        }
        .continuar:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="card">
        <h1 class="text-center">Formulario de Registro de Usuario</h1>
        <form method="POST"
            th:action="@{/usuarios/registrar}"
            th:object="${usuarios}"
            enctype="multipart/form-data">
            <div class="card-body">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Información Personal</h2>
                        <input type="hidden" id="id" name="id" th:field="*{id}"
                            required>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" id="nombre" name="nombre"
                                th:field="*{nombre}" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="apellidos">Apellidos</label>
                            <input type="text" id="apellidos" name="apellidos"
                                th:field="*{apellidos}" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="fecha_registro">Fecha de registro</label>
                            <input type="text" id="fecha_registro"
                                name="fecha_registro" th:field="*{fecha_registro}"
                                class="form-control" placeholder="dd/mm/aa" required>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Registro</h2>
                        <div class="form-group">
                            <label for="correo">Correo electrónico</label>
                            <input type="email" id="correo" name="correo"
                                th:field="*{correo}" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="primera_contraseña">Contraseña</label>
                            <input type="password" id="primera_contraseña"
                                name="primera_contraseña" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="contraseña">Confirma Contraseña</label>
                            <input type="password" id="contraseña" name="contraseña"
                                th:field="*{contraseña}" class="form-control" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn continuar">Crear Usuario</button>
                <a href="#" class="btn btn-link" style="text-decoration: underline;">Volver</a>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-J0Iz9LhP7zTBw1jOj+1uNdO2JoM5Kc+cV3+pUZ7L7Xw+I6Z9afgF3zv5u2CZr+4T"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh/jWr+8q6P1G5K8xNf+fE/ny0hXkx2Tkhsfo"
        crossorigin="anonymous"></script>
</body>
</html>
